<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="117.2.4" targetFramework="net48" />
  <package id="cef.redist.x86" version="117.2.4" targetFramework="net48" />
  <package id="CefSharp.Common" version="117.2.40" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="117.2.40" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="117.2.40" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2045.28" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.7.9.6" targetFramework="net48" />
  <package id="SharpCompress" version="0.34.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.7.2" targetFramework="net48" />
</packages>